/*
Stripped version of typeface-roboto/index.css
Only includes non-italic woff2 files for roboto 300, 400, and 500
https://material-ui.com/components/typography/#install-with-npm
*/

/* roboto-300normal - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: local('Roboto Light '), local('Roboto-Light'),
        url('../../node_modules/typeface-roboto/files/roboto-latin-300.woff2') format('woff2');
}

/* roboto-400normal - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local('Roboto Regular '), local('Roboto-Regular'),
        url('../../node_modules/typeface-roboto/files/roboto-latin-400.woff2') format('woff2');
}

/* roboto-500normal - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local('Roboto Medium '), local('Roboto-Medium'),
        url('../../node_modules/typeface-roboto/files/roboto-latin-500.woff2') format('woff2');
}
